<a href="https://colab.research.google.com/github/ali786-1/Computational-Statistics/blob/main/Manova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MANOVA

In [8]:
n=int(input("Enter No of Treatements"))
tr=[]
s=0
for i in range(n):
  t1=[]
  k=int(input(f'Enter no of sub cells of t{i+1}'))
  s+=k
  for j in range(k):
    l=list(map(int,input("ENTER Sub group elemnets").split()))
    t1.append(l)
  tr.append(t1)
  p=len(t1[1])
print(tr)

Enter No of Treatements3
Enter no of sub cells of t13
ENTER Sub group elemnets9 3
ENTER Sub group elemnets6 2
ENTER Sub group elemnets9 7
Enter no of sub cells of t22
ENTER Sub group elemnets0 4
ENTER Sub group elemnets2 0
Enter no of sub cells of t33
ENTER Sub group elemnets3 8
ENTER Sub group elemnets1 9
ENTER Sub group elemnets2 7
[[[9, 3], [6, 2], [9, 7]], [[0, 4], [2, 0]], [[3, 8], [1, 9], [2, 7]]]

In [36]:
yi=[]
for i in tr: 
  e=0
  e2=0
  y1=[]
  for j in range(len(i)):
    e+=i[j][0]
    e2+=i[j][1]
  y1=([e//len(i),e2//len(i)])
  yi.append(y1)
print(yi)

[[8, 4], [1, 2], [2, 8]]

In [57]:
y_bar2=[]
g=0
h=0
for i in tr:
  for j in range(len(i)):
    g+=i[j][0]
    h+=i[j][1]
y_bar2=([g//s,h//s])
print(y_bar2)

[4, 5]

In [70]:
#for y1
sse=0
sse2=0
sst=0
sst2=0
for i in range(n):
  for j in tr[i]:
    sse+=(j[0]-yi[i][0])**2
    sse2+=(j[1]-yi[i][1])**2
    sst+=(j[0]-y_bar2[0])**2
    sst2+=(j[1]-y_bar2[1])**2
ssr=sst-sse
ssr2=sst2-sse2

In [68]:
csse=0
csst=0
for i in range(n):
  for j in tr[i]:
    csse+=((j[0]*j[1])-yi[i][0]*yi[i][1])
    csst+=(j[0]*j[1]-y_bar2[0]*y_bar2[1])
    cssr=csst-csse
print(csse,csst,cssr)

1 -11 -12

In [71]:
 
import numpy as np
import math
B = np.array([[ssr,cssr],[cssr,ssr2]])
W = np.array([[sse,csse],[csse,sse2]])
T = np.array([[sst,csst],[csst,sst2]])

In [72]:
degreeOfFreedom_regression = n-1
degreeOfFreedom_error = s - n
degreeOfFreedom_total = s - 1

In [73]:
det_W = np.linalg.det(W)
det_T = np.linalg.det(T)
lamda = abs(det_W)/abs(det_T)
lamda

0.0384553499597747

In [74]:
f_cal = ((s-n-1)/(n-1))*((1-math.sqrt(lamda))/math.sqrt(lamda))
f_cal

8.198859563778381

In [78]:
import pandas as pd
val={
    'Source Of Variation':['Regression','Error','Total'],
     'Sum Of Squares':[B,W,T],
     'Degree of Freedom':[n-1,s-n,s-1],
     'Wills Value':['',lamda,''],
     'F-statistic':['',f_cal,'']
}
c=pd.DataFrame(val)
c

,Source Of Variation,Sum Of Squares,Degree of Freedom,Wills Value,F-statistic
0,Regression,"[[78, -12], [-12, 48]]",2,,
1,Error,"[[10, 1], [1, 24]]",5,0.038455,8.19886
2,Total,"[[88, -11], [-11, 72]]",7,,

In [77]:
import scipy.stats as sci
f_table = sci.f.ppf(0.95,2*(n-1),2*(s-n-1))
f_table

3.837853354555897

In [79]:
#inference
if f_cal>=f_table:
  print("Reject H0")
else:
  print("Accept_H0")

Reject H0